<nav class="navbar navbar-expand-md fixed-top" style=" padding-left: 0px; padding-right: 0px; padding-top: 0px; ">
  <app-principal></app-principal>
</nav>


<div class="cover-container d-flex h-100 p-3 mx-auto flex-column back">
  <main role="main" class="inner cover">
    <div class="container" style=" margin-left: 0px; margin-top: 7%;">
      <div class="row">
        <div class="col">
          <div class="container">
            <table class="table table-hover table-sm">
              <thead class="thead-dark" >
                <tr>
                  <th class="cabecera" scope="col">ID</th>
                  <th class="cabecera" scope="col">Nombre de la sala</th>
                  <th class="cabecera" scope="col">Tipo</th>
                  <th class="cabecera" scope="col">Estado</th>
                  <th class="cabecera" scope="col">No. de jugadores</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td>Sala Premiere</td>
                  <td>Privada</td>
                  <td>En espera...
                    Nueva partida en 
                  </td>
                  <td>5</td>
                  <td> <button class="btn btn-warning">Unirse al juego</button></td>
                </tr>
              </tbody>
              <tr>
                <td scope="row">2</td>
                <td>Sala Texas</td>
                <td>Pública</td>
                <td>Juego en curso</td>
                <td>10</td>
                <td><button class="btn btn-warning">Unirse al juego</button></td>
              </tr>
            </table>
          </div>
        </div>
      
        <div class="col col-lg-4" style="text-align: center">
          <div class="container alto">
            <button class="btn btn-danger">Iniciar nueva partida</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>