<div class="container-fluid full">
  <div class="container-fluid">

    <div class="col-sm-10">


      <div style="display: block" *ngIf="pieChartData">
        <h1>Numero de partidas por sala</h1>
        <div class="container" ALIGN="center">
          <h3>Id Sala</h3>
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>

        </div>
      </div>



    </div>

  </div>
</div>