.loteriaback {
    background-image: url(../../assets/Resources/Mosaico.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

.footer_log {
    background-color: white;
    font-family: 'Open Sans Light', sans-serif;
    text-align: center;
    font-size: 11pt;
}

.gradient {
    background: rgba(255,255,255,0.85);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.85) 0%, rgba(246,246,246,0.85) 47%, rgba(237,237,237,0.85) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.85)), color-stop(47%, rgba(246,246,246,0.85)), color-stop(100%, rgba(237,237,237,0.85)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.85) 0%, rgba(246,246,246,0.85) 47%, rgba(237,237,237,0.85) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0.85) 0%, rgba(246,246,246,0.85) 47%, rgba(237,237,237,0.85) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0.85) 0%, rgba(246,246,246,0.85) 47%, rgba(237,237,237,0.85) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.85) 0%, rgba(246,246,246,0.85) 47%, rgba(237,237,237,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px;
    width: 480px;
    height: 565px;
    margin-left: 60%;
    margin-top: 7%;
}

.registro {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid black;
    height: 36px;
    margin-bottom: 10px;
    font-family: roboto;
}

.registrarse_btn {
    font-family: 'Roboto Condensed', sans-serif;
    background: #009045;
    color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 12pt;
    border: 3px solid white;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    margin-left: 30%;
}