<nav class="navbar navbar-expand-md fixed-top" style=" padding-left: 0px; padding-right: 0px; padding-top: 0px; ">
  <app-principal></app-principal>
</nav>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column loteriaback" style="margin-top: 60px;">
  <main role="main" class="inner cover">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="gradient">
          <div class="container">
            <h1 class="cover-heading" style=" margin-bottom: 0px;padding-top: 13px;">Registrarse</h1>
            <h5 style=" font-family: 'Open Sans'; ">Es gratis</h5>
            <form [formGroup]="RegistroUsuarioForm" (ngSubmit)="registrar()">
              <input class="registro" type="text" placeholder="Nombre de usuario" formControlName="userName" style=" width: 50%; ">
              <br>
              <input class="registro" type="email" placeholder="Correo electrónico" formControlName="correo" style=" width: 70%; ">
              <br>
              <label class="registro_lbl">Fecha de Nacimiento</label>
              <br>
              <input type="date" class="form-control" name="fechaNacimiento" formControlName="fechaNacimiento" style="width: 56%;">
              <input type="radio" class="form-check-input" formControlName="genero" value="H" checked style=" margin-top: 16px; margin-left: 6px;">
              <p style=" margin-left: 20px; margin-top: 9px; margin-bottom: 0px;">Hombre</p>
              <input type="radio" class="form-check-input" formControlName="genero" value="M" style=" margin-top: 16px; margin-left: 6px;">
              <p style=" margin-left: 20px; margin-top: 9px; margin-bottom: 0px;">Mujer</p>
              <br>
              <input class="registro" type="password" placeholder="Nueva contraseña" formControlName="contra" style=" width: 70%; ">
              <br>
              <input class="registro" type="password" placeholder="Repita su contraseña" formControlName="contraconf" style=" width: 70%; ">
              <br>
              <p class="politicas">
                Al hacer clic en Registrarse usted está aceptando las
                <a href="#">Reglas de usuario</a>, así como nuestra
                <a href="#">Poítica de datos
                </a>.
              </p>
              <button type="button" class="btn btn-primary" (click)="registrar()">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<footer class="mastfoot mt-auto footer_log">
  <div class="inner">
    <br>
    <img src="../../assets/Resources/Logo401.png" alt="401 Software" style="width: 45px">
    <br> Ingeniería de Software
    <br> Grupo 401
    <br> 2018® Todos los derechos reservados.
  </div>
</footer>