.boton {
    padding:20px;
    background:transparent;
    color:white;
    font:bold 10px/10px verdana;
    width:105px;
    height: 170px;
    cursor:pointer;
    cursor:hand;
    text-align:center;
} 

#boton1 {
    position:absolute;
    left: 3%;
    top: 9%;
}
#boton2 {
    position:absolute;
    left: 15%;
    top: 9%;
}
#boton3 {
    position:absolute;
    left: 27%;
    top: 9%;
}
#boton4 {
    position:absolute;
    left: 39%;
    top: 9%;
}
#boton5 {
    position:absolute;
    left: 3%;
    top: 30%;
}
#boton6 {
    position:absolute;
    left: 15%;
    top: 30%;
}
#boton7 {
    position:absolute;
    left: 27%;
    top: 30%;
}
#boton8 {
    position:absolute;
    left: 39%;
    top: 30%;
}
#boton9 {
    position:absolute;
    left: 3%;
    top: 52%;
}
#boton10 {
    position:absolute;
    left: 15%;
    top: 52%;
}
#boton11 {
    position:absolute;
    left: 27%;
    top: 52%;
}
#boton12 {
    position:absolute;
    left: 39%;
    top: 52%;
}
#boton13 {
    position:absolute;
    left: 3%;
    top: 73%;
}
#boton14 {
    position:absolute;
    left: 15%;
    top: 73%;
}
#boton15 {
    position:absolute;
    left: 27%;
    top: 73%;
}
#boton16 {
    position:absolute;
    left: 39%;
    top: 73%;
}