


<input type=image src="../assets/Resources/Baraja/{{Carta[0]}}.PNG" id="boton1" value="1" (click)="Holi(0)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[1]}}.PNG" id="boton2" value="2" (click)="Holi(1)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[2]}}.PNG" id="boton3" value="3" (click)="Holi(2)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[3]}}.PNG" id="boton4" value="4" (click)="Holi(3)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[4]}}.PNG" id="boton5" value="5" (click)="Holi(4)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[5]}}.PNG" id="boton6" value="6" (click)="Holi(5)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[6]}}.PNG" id="boton7" value="7" (click)="Holi(6)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[7]}}.PNG" id="boton8" value="8" (click)="Holi(7)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[8]}}.PNG" id="boton9" value="9" (click)="Holi(8)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[9]}}.PNG" id="boton10" value="10" (click)="Holi(9)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[10]}}.PNG" id="boton11" value="11" (click)="Holi(10)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[11]}}.PNG" id="boton12" value="12" (click)="Holi(11)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[12]}}.PNG" id="boton13" value="13" (click)="Holi(12)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[13]}}.PNG" id="boton14" value="14" (click)="Holi(13)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[14]}}.PNG" id="boton15" value="15" (click)="Holi(14)" height="170" width="105">
<input type=image src="../assets/Resources/Baraja/{{Carta[15]}}.PNG" id="boton16" value="16" (click)="Holi(15)" height="170" width="105">


<input type=image src="../assets/Resources/frijol.png" id="boton1" (click)="Holi(0)" height="80" width="50" *ngIf="this.Selec[0]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton2" (click)="Holi(1)" height="80" width="50" *ngIf="this.Selec[1]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton3" (click)="Holi(2)" height="80" width="50" *ngIf="this.Selec[2]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton4" (click)="Holi(3)" height="80" width="50" *ngIf="this.Selec[3]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton5" (click)="Holi(4)" height="80" width="50" *ngIf="this.Selec[4]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton6" (click)="Holi(5)" height="80" width="50" *ngIf="this.Selec[5]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton7" (click)="Holi(6)" height="80" width="50" *ngIf="this.Selec[6]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton8" (click)="Holi(7)" height="80" width="50" *ngIf="this.Selec[7]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton9" (click)="Holi(8)" height="80" width="50" *ngIf="this.Selec[8]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton10" (click)="Holi(9)" height="80" width="50" *ngIf="this.Selec[9]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton11" (click)="Holi(10)" height="80" width="50" *ngIf="this.Selec[10]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton12" (click)="Holi(11)" height="80" width="50" *ngIf="this.Selec[11]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton13" (click)="Holi(12)" height="80" width="50" *ngIf="this.Selec[12]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton14" (click)="Holi(13)" height="80" width="50" *ngIf="this.Selec[13]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton15" (click)="Holi(14)" height="80" width="50" *ngIf="this.Selec[14]==1">
<input type=image src="../assets/Resources/frijol.png" id="boton16" (click)="Holi(15)" height="80" width="50" *ngIf="this.Selec[15]==1">