.boton {
    padding:20px;
    background:transparent;
    color:white;
    font:bold 10px/10px verdana;
    cursor:pointer;
    cursor:hand;
    text-align:center;
} 

#boton1 {
    position:absolute;
    left: 23%;
    top: 13%;
}
#boton2 {
    position:absolute;
    left: 31%;
    top: 13%;
}
#boton3 {
    position:absolute;
    left: 39%;
    top: 13%;
}
#boton4 {
    position:absolute;
    left: 47%;
    top: 13%;
}
#boton5 {
    position:absolute;
    left: 23%;
    top: 34%;
}
#boton6 {
    position:absolute;
    left: 31%;
    top: 34%;
}
#boton7 {
    position:absolute;
    left: 39%;
    top: 34%;
}
#boton8 {
    position:absolute;
    left: 47%;
    top: 34%;
}
#boton9 {
    position:absolute;
    left: 23%;
    top: 56%;
}
#boton10 {
    position:absolute;
    left: 31%;
    top: 56%;
}
#boton11 {
    position:absolute;
    left: 39%;
    top: 56%;
}
#boton12 {
    position:absolute;
    left: 47%;
    top: 56%;
}
#boton13 {
    position:absolute;
    left: 23%;
    top: 77%;
}
#boton14 {
    position:absolute;
    left: 31%;
    top: 77%;
}
#boton15 {
    position:absolute;
    left: 39%;
    top: 77%;
}
#boton16 {
    position:absolute;
    left: 47%;
    top: 77%;
}
#NumCarta {
    position:absolute;
    left: 23%;
    top: 9%;
}