
.Titulo{
font-size: 25px;
color: #E0D9D9;
position:absolute;
left: 0%;
top: 1%;
}
.card-container.card { 
  position:absolute;
  height: 88%;
  left: 0%;
  top: 12%;
  background-image: url(../../assets/Resources/fondo_rojo.jpg);
  background-repeat: no-repeat;
  background-position: center bottom; 
}
.card {
   
 width: 20% ;
 height: 100%;
background-color: rgba(173, 10, 10, 0.849);
/* just in case there no content*/

/* shadows and rounded borders */
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
box-shadow: 0px 5px 2px rgb(3, 1, 1);
}
.card2 card-container2{
  width: 100%;
  max-height: 20%;
  margin-top: 0%;
}

.card2 {
  background-color: rgba(8, 17, 3, 0.37);
  /* just in case there no content*/
  position:absolute;
  left: 0%;
  right: 0%;
  top: 5%;
  text-align: center;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 2px rgb(3, 1, 1);
}

.boton{
   
    position:absolute;
 
    top: 25%;
    left: 15%;
    width:70%;
    height:5%;
 
    text-decoration: underline;
    
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:14px;
 
    text-transform: uppercase;
    float:left;
  }
  .boton:hover{
     
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 10px;
  }
  .boton1{
   
    position:absolute;
  
    top: 35%;
    left: 15%;
    width:70%;
    height:5%;
    background-color:#d30303;
    text-decoration: underline;
  
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:14px;
    line-height:10px;
    text-transform: uppercase;
    float:left;
  }
  .boton1:hover{
     
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton1 a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 10px;
  }

  .boton2{
   
    position:absolute;
  
    top: 45%;
    left: 15%;
    width:70%;
    height:5%;
    background-color:#d30303;
    text-decoration: underline;
  
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:14px;
    line-height:10px;
    text-transform: uppercase;
    float:left;
  }
  .boton2:hover{
     
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton2 a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 10px;
  }
  

  .boton3{
   
    position:absolute;
    left: 0%;
    top: 55%;
    left: 15%;
    width:70%;
    height:5%;
    background-color:#d30303;
    text-decoration: underline;
  
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:14px;
    line-height:10px;
    text-transform: uppercase;
    float:left;
  }
  .boton3:hover{
     
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton3 a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 10px;
  }
.iconoConins{

    background: url(/assets/Resources/coins.png) no-repeat 0 0;
    background-size: 30px 30px;
 
    background-position-x: 30px;
}

#btn-abandonar{
  margin-top: 180%;
  margin-left: 10%;
  margin-right: 10%;
  
  
}
