.main{
    color: white;
    position:absolute;
    font-size: 100px;
    margin-left: 57%;
    margin-top: 2%;
};
#img{
    margin-left: 15px;
}
#principal{
    width:147px; 
    height:234px;
    margin-left: 25%;
}
#secundaria{
    width:87px; 
    height:134px;
    margin-left: 20%; 
}
.marco1 IMG{ 
    margin-left: 10px;
    border: 5px solid white;
    border-radius: 5%; 
 } 