.main{
    background-image: url(../../assets/Resources/fondo_baraja.jpg);
    color: white;
    font-size: 100px;
};
#img{
    margin-left: 15px;
}
#principal{
    width:220px; 
    height:350px;
    margin-left: 14%;
}
#secundaria{
    width:130px; 
    height:200px;
    margin-left: 20%; 
}
.marco1 IMG{ 
    margin-left: 10px;
    border: 5px solid white;
    border-radius: 5%; 
 } 