.main{
    color: white;
    position:absolute;
    font-size: 100px;
    margin-left: 57%;
    margin-top: 2%;
};
#principal{
    margin-left: 20%;
}
#secundaria{
    width:87px; 
    height:134px;
}
#secundaria2{
    width:87px; 
    height:134px;
}
#secundaria3{
    width:87px; 
    height:134px;
}
.marco1 IMG{ 
    border: 7px solid white;
    border-radius: 5%; 
    width:60%; 
    height:70%;
 } 
 .marco2 IMG{ 
    border: 5px solid white;
    border-radius: 5%; 
    width:20%; 
    height:30%;
 } 
 .marco3 IMG{ 
    border: 5px solid white;
    border-radius: 5%; 
    width:20%; 
    height:30%;
 } 
 .marco4 IMG{ 
    border: 5px solid white;
    border-radius: 5%; 
    width:20%; 
    height:30%;
 } 